.swiper{
    margin-top: 0;
    width: 100%;
}

.swiper-wrapper {
    height: 100%;
}

.sale-swiper {
  width: 100%;
  height: 75vh;
  overflow: hidden;
  margin-top: 0.5rem;

}

.sale-slide {
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* Dark overlay */
.sale-slide::before {
  content: "";
  position: absolute;
  inset: 0;
 /* background: rgba(0, 0, 0, 0.25);*/
  z-index: 1;
}

.sale-content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: #fff;
}

.sale-content h3 {
  font-size: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 0.9;
}

.sale-content h1 {
  font-size: 3.2rem;
  margin: 0.8rem 0;
}

.sale-content .line {
  width: 60px;
  height: 2px;
  background: #fff;
  margin: 1rem auto;
}

.sale-content h4 {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  opacity: 0.9;
}

.sale-content button {
  padding: 0.8rem 2.5rem;
}