.footer-list{
    flex: 1;
    padding-block: 1rem;
    flex-basis: 200px;
}
.footer-container{
    padding-bottom: 3rem;
}

.footer-link{
    font-size: .9rem;
    text-transform: capitalize;
    font-weight: 500;
    color: var(--light-black);
    line-height: 2.25rem;
}

.footer-logo{
    margin-bottom: 1rem;
}

.detail{
    font-size: .95rem;
    line-height: 1.75rem;
    color: #6e6e6e;
}

.footer-bottom{
    padding-block: .85rem;
    text-align: center;
    color: #6e6e6e;
    border-top: .065rem solid #ebebeb;
    font-size: .9rem;
}