.secondary-bg{
    background: #f7ebab; 
    padding-block: 2.2rem;
}

.wrap{
    flex-wrap: wrap;
}

.container {
    max-width: 80%;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
}

.box{
    flex: 1;
    text-align: center;
    margin-block: 1rem;
    flex-basis: 200px;
}

.box .fa-solid {
    font-size: 1.5rem;
    color: var(--primary-clr)
}
h5 a{
    font-size: 1.1rem;
    color: var(--light-black);
    font-weight: 500;
    line-height: 2rem;
}

.des{
    color: #6e6e6e;
    font-size: .9rem;
    font-weight: 400;
}