.products {
  margin-top: 4.5rem;
  padding-bottom: 1.5rem;
}
.product{
    text-align: center;
}

.products h2 {
  margin-bottom: 3rem;
  text-align: center;
  font-weight: 400;
  text-decoration: underline;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.product img {
  position: relative;
  overflow: hidden;
  border-radius: 10px;

}

.product-img {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}


.product-img img {
  width: 100%;
  transition: transform 0.4s ease;
}

.product-actions {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%) translateY(20px);
  display: flex;
  gap: 0.8rem;
  opacity: 0;
  transition: all 0.4s ease;
  z-index: 2;
}

.product-img:hover img {
  transform: scale(1.05);
}

.product-img:hover .product-actions {
  opacity: 1;
    transform: translateX(-50%) translateY(0);
}


.product-actions button {
   all: unset;                 
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #fff;
  color: var(--light-black);
  cursor: pointer;
  font-size: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 6px 15px rgba(0,0,0,0.25);
  transition: all 0.3s ease;
}

.product-actions button:hover {
  background: var(--primary-clr);
  color: #fff;
  transform: translateY(-3px);
}

.product p {
  margin-top: 0.5rem;
  
}

.product span {
  color: var(--primary-clr);
  font-weight: 600;
}