.hero {
  height: 95vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 1.2rem;
}

.hero-content {
  height: 100%;
  justify-content: flex-start;
}

.hero h3 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 3.7rem;
  color: var(--light-black);
}

.hero h1 {
  font-size: 3.5rem;
  line-height: 4rem;
  font-weight: 600;
  color: var(--light-black);
}

.hero h4 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 3.5rem;
  margin-bottom: 1.5rem;
}

.hero h4 span {
  color: var(--primary-clr);
}

.hero button {
  font-weight: 600;
  font-size: 0.9rem;
  padding: 0.8rem 2.2rem;
  text-transform: uppercase;
  color: #fff;
  border: none;
  background: var(--primary-clr);
  transition: all 0.3s ease-in-out;
}

.hero button:hover {
  background: var(--light-black);
}
